<%= simple_form_for @note do |f|  %>
  <div class="container">
    <div class="row form">
 
      <div class="col-sm-9 col-sm-push-3 note-padding sublime-gray">
          <div class="row form-group col-sm-12">
            <%= f.input :title, label: false, placeholder: ":title", input_html: { id: "note-form-title-field", class: "form-control note-form-fields" } %>
          </div>
          <div class="row form-group visible-xs col-sm-12">
            <%= f.input :body, label: false, placeholder: ":body", input_html: { id: "note-form-body-field", class: "form-control note-form-fields", rows: 7 } %>
          </div>
          <div class="row form-group col-sm-12 visible-sm visible-md visible-lg">
            <%= f.input :body, label: false, placeholder: ":body", input_html: { id: "note-form-body-field", class: "form-control note-form-fields", rows: 19 } %>
          </div>
      </div>

      <div class="col-sm-3 col-sm-pull-9 note-padding sublime-gray">
        <div class="row" id="stacks-form">
          <p>Choose all that apply</p>
          <%= f.association :stacks, as: :check_boxes, label: false %>
        </div>
      </div>

    </div>
    
    <nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
      <div class="container">
        <ul class="nav nav-pills">
          <li ><%= button_to 'Cancel', :back, class: "note-bottom-nav-buttons" %></li>
          <!-- <li><%= button_to 'Preview', '#', class: "note-bottom-nav-buttons" %></li> -->
          <li class="pull-right"><%= f.button :submit, 'Save', class: "note-bottom-nav-buttons", id: "note-save-button" %></li>
        </ul>
      </div>
    </nav>

  </div>
<% end %>