<%= simple_form_for @note, :html => { :class => 'form-horizontal' } do |f|  %>
  <div class="container">
    <div class="row">
      <%= f.input :title, placeholder: ":title", id: "note-form-title-field", class: "note-form-fields" %>
    </div>
    <hr>
    <div class="row">
      <%= f.input :body, placeholder: ":body", id: "note-form-body-field", class: "note-form-fields"  %>
    </div>
    <div class="row" style="color: white;">
      <%= f.association :stacks, as: :check_boxes %>
    </div>
  </div>
  <div class="row">
    <%= f.button :submit %>
  </div>
<% end %>