<body class="body-notes">
  <div class="container">

  <%= form_tag notes_path, method: :get do %>
    <p>
      <%= text_field_tag :query, params[:query] %>
      <%= submit_tag "Search", name: nil %>
    </p>
  <% end %>

  </div>

  <div class="container" id="notes-index">
    <%= render 'layouts/notes_preview' %>
  </div>
  
  <div class="container">
    <%= will_paginate @notes %>
  </div>

</body>
