<br><br>
<%= form_tag do %>
  Form contents
<% end %>

<br>
<p>******************</p>
<br>

<%= form_tag("/search", method: "get") do %>
  <%= label_tag(:q, "Search for:") %>
  <%= submit_tag("Search") %>
<% end %>


<br>
<p>******************</p>
<br>

<%= check_box_tag(:pet_dog) %>
<%= label_tag(:pet_dog, "I own a dog") %> 
<%= check_box_tag(:pet_cat) %>
<%= label_tag(:pet_cat, "I own a cat") %>

<br>
<p>******************</p>
<br>