<% @browser_tab_title = @note.title %>
<% @browser_tab_subtitle = '- Notes' %>
<% @body_background_color = "body-notes" %>


<div class="container sublime-gray">
  <div class="row">
    <p class="note-show-title notes-show-LRpadding"><%= @note.title %></p>
  </div>
  <div class="row">
    <p class="notes_stacks notes-show-LRpadding notes-head-TBpadding">
      <%= render partial: "/common/stacks_header_list", locals: { note: @note } %>
    </p>
    <p class="note-preview-username notes-show-LRpadding notes-head-TBpadding">
      <%= @note.user.username %>
      <span class="pull-right"><% if current_user %>
        <%= render partial: 'flashcards/flashcard', locals: { note: @note } %>
      <% end %></span>
    </p>
  </div>
  <div class="row note-show-dates notes-show-LRpadding notes-head-TBpadding">
    <p>Created: <%= @note.created_at.strftime("%b %d, %Y") %> &nbsp; &nbsp; Updated: <%= @note.updated_at.strftime("%b %d, %Y") %></p>
  </div>
  <hr id="notes-show-horizontal-ruler">
  
  <div class="row note-show-body notes-show-LRpadding">
    <%= markdown @note.body %>
  </div>
  
  <div id="note-show-edit-delete-links" class="row note-show-body notes-show-LRpadding">
    <% if policy(@note).edit? %>
      <%= link_to 'Edit', edit_note_path, class: 'vote-arrows-padding' %>
    <% end %>
    <% if @note.public %>
      <span class="note-preview-voting-arrows">
        <%= render partial: "/votes/voter", locals: { note: @note } %>
      </span>
    <% end %>
    <% if !current_user %>
      <span class="note-points-guest-view"><%= pluralize(@note.points, 'vote') %></span>
    <% end %>
    <% if policy(@note).destroy? %>
      <%= link_to 'Delete', @note, method: :delete, class: 'pull-right', data: { confirm: 'Delete this note?' } %>
    <% end %>
  </div>
</div>
  
