<% @browser_tab_title = 'Flashcards'  %>
<% @browser_tab_subtitle = '- Notes' %>
<% @body_background_color = "body-notes" %>

<% if @flashcards.empty? %>
  <div class="container how-to-create-flashcards">
    <p>You do not have any notes marked as Flashcards just yet.  Here's how to create a Flashcard:</p>
    <ol>
      <li>Go to any <span class="flashcard-how-to-highlights">note</span>, be it yours or another user's public note</li>
      <li>Click the &nbsp; <i class="glyphicon glyphicon-unchecked"> </i> <span class="flashcard-how-to-highlights">Flashcard</span> &nbsp; link</li>
    </ol>
    <br>
    <p>That's it!</p>
  </div>
<% else %>

  <div class="container">
    <div class="panel-group" id="accordion">

    <% @flashcards.each do |card| %>

      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordian-toggle" data-toggle="collapse" data-parent="#accordion" href="#<%= card.note.id %>"><%= card.note.title %></a>
          </h4>
        </div>
        <div id="<%= card.note.id %>" class="panel-collapse collapse">
            <div class="panel-body">

              <div class="row flashcard-header">
                <p class="flashcard-stacks-username"><span class="notes_stacks notes-show-LRpadding notes-head-TBpadding">
                  <%= render partial: "/common/stacks_header_list", locals: { note: card.note } %>
                </span><span class="note-preview-username notes-show-LRpadding notes-head-TBpadding pull-right">
                  <%= card.note.user.username %>
                </span></p>
                <p class="note-show-dates notes-show-LRpadding notes-head-TBpadding">Updated: <%= card.note.updated_at.strftime("%b %d, %Y") %></p>
              </div>
              
              <!-- <hr id="notes-show-horizontal-ruler"> -->
              <div class="flashcard-body">
                <%= markdown card.note.body %>
                <p class="flashcard-view-button pull-right"><% if current_user %>
                  <%= render partial: 'flashcards/flashcard', locals: { note: card.note } %>
                <% end %></p>
            </div>
          </div>
        </div>
      </div>

    <% end %>

    </div>

  </div>
<% end %>