<% @browser_tab_title = 'Sign Up'  %>

<div class="container">
  <h2 class="sign-in-titles">Sign up</h2>

  <div class="row">
    <div class="form col-md-8 user-sign-in-up-edit">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :name %><br />
          <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Enter name" %>
        </div>
        <div class="form-group">
          <%= f.label :username %><br />
          <%= f.text_field :username, class: 'form-control', placeholder: "Enter username" %>
        </div>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, class: 'form-control', placeholder: "Enter email" %>
        </div>
        <div class="form-group">
          <%= f.label :password %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %><br />
          <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
        </div>
        <div class="form-group">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, class: 'form-control', placeholder: "Enter password confirmation" %>
        </div>
        <div class="form-group">
          <%= f.submit "Sign up", class: 'btn search-button' %>
        </div>
        <div class="form-group">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
