<div class="container">
  <h1 style="text-align: center">Search Box</h1>
</div>

<% stacks_1_to_4 = @stacks[0,4] %>
<% stacks_5_to_8 = @stacks[4,4] %>
<% stacks_9_to_12 = @stacks[8,4] %>
<% stacks_13_to_16 = @stacks[12,4] %>

<div class="container-fluid">

<div class="row">
  <% stacks_1_to_4.each do |stack| %>
    <div class="col-sm-3">
      <div class="black-box">
        <p class="stack-titles"><%= stack.title %></p>
        <p class="stack-descriptions"><%= stack.description %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% stacks_5_to_8.each do |stack| %>
    <div class="col-sm-3">
      <div class="black-box">
        <p class="stack-titles"><%= stack.title %></p>
        <p class="stack-descriptions"><%= stack.description %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% stacks_9_to_12.each do |stack| %>
    <div class="col-sm-3">
      <div class="black-box">
        <p class="stack-titles"><%= stack.title %></p>
        <p class="stack-descriptions"><%= stack.description %></p>
      </div>
    </div>
  <% end %>
</div>

<div class="row">
  <% stacks_13_to_16.each do |stack| %>
    <div class="col-sm-3">
      <div class="black-box">
        <p class="stack-titles"><%= stack.title %></p>
        <p class="stack-descriptions"><%= stack.description %></p>
      </div>
    </div>
  <% end %>
</div>


</div>