<% @browser_tab_title = @stack.title  %>
<% @browser_tab_subtitle = '- Stacks' %>
<% @body_background_color = "body-notes" %>


<div class="container">
  <p class="stack-show-title"><%= @stack.title.upcase %></p>
  <p class="stack-show-description"><%= @stack.description %></p>
  <p><%= link_to 'Edit', edit_stack_path %></p>
</div>

<div class="container">
  <%= render 'common/notes_preview' %>
  <%= will_paginate @notes %>
</div>


