<% @browser_tab_title = @stack.title  %>
<% @browser_tab_subtitle = '- Stacks' %>
<% @body_background_color = "body-notes" %>


<div class="container">
  <div class="container" id="stack-show-top-container">
    <p class="stack-show-title"><%= @stack.title %></p>
    <p class="stack-show-description">
      <span class="stack-show-headlines"><%= @stack.headline %></span> <span><%= @stack.description %></span>
    </p>
    <!-- <p class="stack-show-description"><%= @stack.description %></p> -->

    <div class="row note-show-body notes-show-LRpadding">
      <% if policy(@stack).edit? %>
        <%= link_to 'Edit', edit_stack_path %>
      <% end %>      
      <% if policy(@stack).destroy? %>
        <%= link_to 'Delete', @stack, method: :delete, class: 'pull-right', data: { confirm: 'Delete this note?' } %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <%= render 'common/notes_preview' %>
  <%= will_paginate @notes %>
</div>


