<% @browser_tab_title = 'Mind on Rails' %>
<% @browser_tab_subtitle = '| We remember everything about creating Ruby on Rails web apps for you' %>
<% @blank = ' ' %>
<% @body_background_color = "body-welcome-index" %>

<div id="welcome-container">
  <div class="container-fluid boxy">
    <div class="visible-lg row welcome-rows welcome-row-1" id="main-image-container">
      <%#= image_tag "macbook-pro-desk-laptops.jpg", id: "dapic" %>
      <div class="col-sm-8 welcome-title" >
        <article id="welcome-page-title">
          <h1>Spike your learning curve</h1>
          <h3>You're learning Ruby on Rails, we'll help you <span>remember</span> it.</h3>
        </article>
      </div> 
      <div class="col-sm-4 welcome-sign-up">
        <%= link_to 'Sign In', new_user_session_path, class: 'sign-in-and-up-buttons', id: 'sign-in-button' %>
        <%= link_to "Sign Up", new_user_registration_path, class: 'sign-in-and-up-buttons', id: 'sign-up-button' %>
      </div> 
    </div>

    <div class="visible-sm visible-md row welcome-rows welcome-row-1" id="main-image-container-mobile">
      <%#= image_tag "macbook-pro-desk-laptops.jpg", id: "dapic" %>
      <div class="col-sm-7 welcome-title" >
        <article id="welcome-page-title">
          <h1>Spike your learning curve</h1>
          <h3>You're learning Ruby on Rails, we'll help you <span>remember</span> it.</h3>
        </article>
      </div> 
      <div class="col-sm-5 welcome-sign-up">
        <%= link_to 'Sign In', new_user_session_path, class: 'sign-in-and-up-buttons', id: 'sign-in-button' %>
        <%= link_to "Sign Up", new_user_registration_path, class: 'sign-in-and-up-buttons', id: 'sign-up-button' %>
      </div> 
    </div>

    <div class="visible-xs row welcome-rows welcome-row-1" id="main-image-container-mobile-xs">
      <%#= image_tag "macbook-pro-desk-laptops.jpg", id: "dapic" %>
      <div class="col-sm-7 welcome-title" >
        <article id="welcome-page-title">
          <h1>Spike your learning curve</h1>
          <h3>You're learning Ruby on Rails, we'll help you <span>remember</span> it.</h3>
        </article>
      </div> 
      <div class="col-sm-5 welcome-sign-up">
        <%= link_to 'Sign In', new_user_session_path, class: 'sign-in-and-up-buttons', id: 'sign-in-button' %>
        <%= link_to "Sign Up", new_user_registration_path, class: 'sign-in-and-up-buttons', id: 'sign-up-button' %>
      </div> 
    </div>


    <div class="row" id="welcome-row-2">
      <div class="container welcome-title">

        <div class="row sales-points-rows" >
          <div class="col-sm-6 sales-points-icons" >
            <div class="icon-padding">
              <%= image_tag "pen-and-paper.png" %>
            </div>
          </div> 
          <div class="col-sm-6 sales-points-descriptions" >
            <h3>Create notes for what you need to remember.</h3>
            <p>Mind on Rails will capture everything you need to remember around Ruby on Rails, with powerful, searchable, fingertip access 24/7.</p>
          </div> 
        </div> 

        <div class="row sales-points-rows" >
          <div class="col-sm-6 col-sm-push-6 sales-points-icons" >
            <div class="icon-padding">
              <%= image_tag "white-graph-icon.png" %>
            </div>
          </div>
          <div class="col-sm-6 col-sm-pull-6 sales-points-descriptions" >
            <h3>Jumpstart your learning curve.</h3>
            <p>All of your notes are  associated with our learning stacks.  These 16 stacks are educationally designed to serve both your current and future self.</p>
          </div> 
        </div> 

        <div class="row sales-points-rows" >
          <div class="col-sm-6 sales-points-icons" >
            <div class="icon-padding">
              <%= image_tag "thumbs-up.png" %>
            </div>
          </div> 
          <div class="col-sm-6 sales-points-descriptions" >
            <h3>Draw from our curated Ruby on Rails collections.</h3>
            <p>You can make your notes public or private.  Public notes can be voted on by members of the Mind on Rails community.</p>
          </div> 
        </div>

        <div class="row sales-points-rows last-sales-row" >
          <div class="col-sm-6 col-sm-push-6 sales-points-icons" >
            <div class="icon-padding">
              <%= image_tag "cards-2.png" %>
            </div>
          </div> 
          <div class="col-sm-6 col-sm-pull-6 sales-points-descriptions" >
            <h3>Any note can double as a flashcard.</h3>
            <p>Some things you will want to have rote memorization around.  Any note, be it yours or a public note, can be designated as a flashcard, for you to review and learn.</p>
          </div> 
        </div> 

      </div>
    </div>



    <div class="row" id="welcome-row-3">
      <div class="container">
        <div class="about-mor">
          <h2>About Mind on Rails</h2>
          <p>Mind on Rails is a knowledge exchange, note-taking tool, specifically for Ruby on Rails learners.  It is a way to capture all of the many things that you learn through your journey with Ruby on Rails.  There is no way you are going to remember everything that you need to know.  But with Mind on Rails, you don't have to.  You can feel comfortable that you have ready access to those important pieces of information, anytime, at your fingertips.</p>  
          <p>The coding community is all about open source, sharing information, and helping others.  Mind on Rails empowers you to become a proactive contributor to the Ruby on Rails community at large.  You can both document all of the things that you need to know for you to succeed, and should you choose, allow others to benefit from your experiences by making a note public.  The community can then vote these public notes up and down, thereby helping to build curated lists.</p>  
          <p>Tags can get out of hand.  They can replicate like gremlins.  The more tags there are, the more their collective meanings get diluted.  The search feature will take care of all that extraneous tagging for you.</p>   
          <p>Our approach is different.  It is about curated learning stacks.  Ways to approach things.  Ways to think about what you learn, that will benefit both your current and future self.  These stacks will remain relevant to you, regardless of your level of seasoning or expertise.</p>
        </div>
        <div class="mor-padding">
          <%= image_tag "mor-2.jpg", class: "img-responsive" %>
        </div>
 

      </div>
    </div>

    <div class="row" id="welcome-row-4">
      <div class="container">
        <div class="about-mor">
          <h2>Become memory independent.</h2>
          <h2><%= link_to "SIGN UP NOW", new_user_registration_path, class: 'sign-in-and-up-buttons', id: 'sign-up-button' %></h2>
          <h3>It's free!</h3>
          <br>
        </div>
      </div>
    </div>

  </div>
</div>
