<% @browser_tab_title = 'Authentication'  %>

<div class="container">
  <h2 class="sign-in-titles">Log in</h2>
  <div class="row">
    <div class="col-md-8 user-sign-in-up-edit">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form-group">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: "Enter email" %>
        </div>

        <div class="form-group">
          <%= f.label :password %><br />
          <%= f.password_field :password, class: 'form-control', placeholder: "Enter password" %>
        </div>
        <div class="form-group sign-in-checkbox">
          <% if devise_mapping.rememberable? -%>
            <%= f.label :remember_me, class: 'checkbox' do %>
              <%= f.check_box :remember_me %> Remember me
            <% end %>
          <% end %>
          <%= f.submit "Log in", class: 'btn search-button' %>
        </div>
        <div class="form-group">
          <%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
