<% @notes.each do |note| %>
  <div class="container sublime-gray note-previews">
    <div class="row">
      <div class="controls note-preview-container">
        <p>
          <%= content_tag :span, link_to(note.title, note), class: "note-preview-title-links" %>

        <p class="notes_stacks">
          <%= note.updated_at.strftime("%m/%d/%y") %>&nbsp;
          <%= render partial: "/common/stacks_header_list", locals: { note: note } %>
        </p>
        </p>
        <p class="note-preview-body">
          <%= (truncate( (note.body), length: 150, escape: false )) %>
        </p>
        <p class="note-preview-username pull-right">
          - <%= note.user.name %>
        </p>
      </div>      
    </div>
  </div>
<% end %>