<% @notes.each do |note| %>
  <div class="container sublime-gray note-previews">
    <div class="row">
      <div class="controls note-preview-container">
        <p>
          <%= content_tag :span, link_to(note.title, note), class: "note-preview-title-links" %>

        <p class="notes_stacks">
          <%= note.updated_at.strftime("%m/%d/%y") %>&nbsp;
          <%= render partial: "/common/stacks_header_list", locals: { note: note } %>
        </p>
        </p>
        <p class="note-preview-body">
          <%= (truncate( (note.body), length: 250, escape: false )) %>
        </p>
        <div>
          <p>
            <% if note.private == false %>
              <span class="note-preview-voting-arrows"><%= render partial: "/votes/voter", locals: { note: note } %></span>
            <% end %>
            <% if !current_user %>
              <span class="note-points-guest-view"><%= pluralize(note.points, 'vote') %></span>
            <% end %>  
            <span class="note-preview-username pull-right">
            - <%= note.user.name %></span>
          </p>
        </div>
      </div>      
    </div>
  </div>
<% end %>