<% @notes.each_with_index do |note, index| %>
  <div class="container sublime-gray note-previews">
    <div class="row">
      <div class="controls note-preview-container">
        <p>
          <span class="note-preview-title-links">
            <%= url_for(note) %>
            <%= 
              link_to(
                  note.title, url_for(note),
                  data: { 
                    history_target_state: { 
                      search: { 
                        url: "/trending",
                        targetResult: { offset: index }
                      }
                    }
                  }
              )
            %>

          </span>

          
        <p class="notes_stacks">
          <%= note.updated_at.strftime("%m/%d/%y") %>&nbsp;
          <%= render partial: "/common/stacks_header_list", locals: { note: note } %>
        </p>
        </p>
        <p class="note-preview-body">
          <%= markdown(truncate( (note.body), length: 250, escape: false )) %>
        </p>
        <div>
          <p>
            <% if note.public %>
              <span class="note-preview-voting-arrows"><%= render partial: "/votes/voter", locals: { note: note } %></span>
            <% end %>
            <% if !current_user %>
              <span class="note-points-guest-view"><%= pluralize(note.points, 'vote') %></span>
            <% end %>  
            <span class="note-preview-username pull-right">
            - <%= note.user.username %></span>
          </p>
        </div>
      </div>      
    </div>
  </div>
<% end %>

<script type="text/javascript">
  mor.updateLinksToOpenInNewTab(".note-preview-container");
</script>