<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">

    <div class="navbar-header">
      
      <% if current_user %>
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      <% end %>

      <%= link_to 'Mind on Rails', root_path, class: "navbar-brand" %>
    </div>

    <div class="navbar-collapse collapse">
      <% if current_user %>
        <ul class="nav navbar-nav">
            <%= content_tag :li, link_to('+ Create A Note', new_note_path), class: "#{css_class_active_for(new_note_path)}" %>
            <%= content_tag :li, link_to('Stacks', stacks_path), class: "#{css_class_active_for(stacks_path)}" %>
            <%= content_tag :li, link_to('My Notes', notes_path), class: "#{css_class_active_for(notes_path)}" %>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-search glyphicon-font-color"></span></a>
              <ul id="nav-search-dropdown-menu" class="dropdown-menu">
                <li>
                  <div class="navbar-form" role="search">
                    <%= form_tag notes_path, method: :get do %>
                      <div id="dropdown-input-form"class="input-group input-group-sm">
                        <%= text_field_tag :query, params[:query], placeholder: "Pick your brain", class: "form-control input-sm" %>
                        <span class="input-group-btn">
                          <button type="submit" class="btn search-button">Go</button>
                        </span>
                      </div>
                    <% end %>
                  </div>
                </li>
              </ul>
            </li>

            <li class='dropdown <%= "#{css_class_active_for(edit_user_registration_path)}"%>'>
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.name || current_user.email %> <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <%= content_tag :li, link_to('Edit', edit_user_registration_path), class: "#{css_class_active_for(edit_user_registration_path)}" %>
                <li class='<%="#{css_class_active_for(destroy_user_session_path)}"%>'><%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %></li>
              </ul>
            </li>

        </ul>
      <% end %>
    </div>

  </div>
</nav>